<div class="container">
  <ul>
    <li class="root">
      Root
    </li>
    <li>
      Lorem ipsum


      <ul>
        <li>Adipiscing elit.
          <ul>
            <li>Adipiscing elit.</li>
            <li>Tincidunt mauris eu risus.</li>
            <li>Vestibulum </li>
          </ul>
        </li>
        <li>Tincidunt mauris eu risus.</li>
        <li>Vestibulum </li>
      </ul>
    </li>
    <li>Aliquam</li>
    <li>
      Dapibus
      <ul>
        <li>Aliquam tincidunt mauris eu risus.</li>
        <li>Vestibulum auctor dapibus neque.</li>
      </ul>
    </li>
  </ul>
</div>
